.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.5s ease;
  font-size: 14px;
  color: #e5e5e5;
}

.navDark {
  background-color: #141414;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbarLeft img {
  width: 90px;
}

.navbarLeft ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbarLeft ul li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbarLeft ul li:hover {
  color: #b3b3b3;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons {
  width: 20px;
  cursor: pointer;
}

.profile {
  border-radius: 4px;
  width: 35px;
}

.navbarProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: underline;
  z-index: 1;
  display: none;
  font-size: 13px;
}

.navbarProfile:hover .dropdown {
  display: block;
}
