.container {
  padding: 1rem 4%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.searchInput {
  width: 100%;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

@media (max-width: 600px) {
  .searchInput {
    width: 100%;
    font-size: 0.9rem;
  }
}
